/* Mobile Styles */
@media only screen and (max-width: 960px) {
  #app { font-size: 8px; }

  .login-form { width: 90% }
  .login-logo { width: calc(100%); }
  .login-error-text { color: red; min-height: 10px; font-size: 8px; }

  .container-account { flex-direction: column-reverse; padding: 10px;}
  input[type=text], input[type=password], input[type=number] { font-size: 8px; }
  .btn-dup-check { padding: 8px;}
  button, span, .multiselect__single, textarea, div { font-size: 8px;}

  .container-my-info { flex-direction: column; padding: 10px; align-content: center; justify-content: flex-start; }

  /*CreateRecord*/
  .container-create-record { flex-direction: column; }
  .create-record-article { width: 100%; }

  /*BattleInfo.vue*/
  .container-battle-info { flex-direction: column; }
  .battle-info-article { width: 100%; }

  /*CreateBattle.vue*/
  .container-create-battle { flex-direction: column; }
  .create-battle-article { width: 100%; }

  /*userList.vue*/
  .container-user-list { flex-direction: column; justify-content: space-between; align-items: flex-start}
  .section-user-list { height: 60%; width: 100%; }
  .container-chart { flex-direction: column; height: 500px; padding: 15px; }
  .chart-style { height: 50%; width: 100%; }

  /*userCompare.vue*/
  .container-user-compare { flex-direction: column; }
  .user-compare-section { width: 100%; }
}
