/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .root { margin: 0px 15vw; }
  .login-logo { width: 400px; }

  .container-account { flex-direction: row; margin: 1vh 0px;}
  .about { width: 42vw; }
  .info { width: 40vw; }
  .container-my-info { flex-direction: column; margin: 1vh 0px; align-items: center; justify-content: flex-start }
}
