/* Mobile Styles */
@media only screen and (max-width: 960px) {
  #app { font-size: 8px; }
  .container-account { padding: .75rem; }

  .login-form { width: 90% }
  .login-logo { width: calc(100%); }
  .login-error-text { color: red; min-height: 10px; font-size: 8px; }

  .btn-dup-check { padding: 8px;}
  button, span, .multiselect__single, textarea, div { font-size: 8px;}

  .container-my-info { flex-direction: column; padding: 0 2.3vw; align-content: center; justify-content: flex-start; }
  .myInfo-btn-update { width: 94vw; background-color: #4285f4; }
  /*CreateRecord*/
  .container-create-record { flex-direction: column; }
  .create-record-article { width: 100%; height: auto; }
  .create-record-list-container { height: auto; }
  .info-label { width: 50px; margin-right: 5px; }
  .info-input { width: 200px; }
  .info-select { width: 200px; font-size: 8px; }
  .info-input-url { width: 120px; font-size: 8px; }

  /*BattleInfo.vue*/
  .container-battle-info { flex-direction: column; }
  .battle-info-article { width: 100%; height: auto; }
  .battle-rank-container { height: auto; }

  /*CreateBattle.vue*/
  .container-create-battle { flex-direction: column; }
  .create-battle-article { width: 100%; }

  /*userList.vue*/
  .container-user-list { flex-direction: column; justify-content: space-between; align-items: flex-start}
  .user-list-article { width: 100%; height: auto; }
  .user-list-container { height: auto; }
  .container-chart { flex-direction: column; height: 500px; padding: 15px; }
  .chart-style { height: 50%; width: 100%; }

  /*userCompare.vue*/
  .container-user-compare { flex-direction: column; }
  .user-compare-section { width: 100%; }
}
